<h1>Data Science Tools and Ecosystem</h1>

Hello! My name is Krisztián and now I'm completing my grade assignment. :)
- In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- Learn Markdown and Jupyter Notebook basics
- Understand basic arithmetic operations in Python
- Data Science Languages
- Data Science Libraries

Data Science Languages:
1. Python,
2. R,
3. SQL

Data Science Libraries:

1. Pandas,
2. Numpy,
3. Scikit-learn

<div align="left">

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

</div>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>


result_addition = 5 + 3 |
print("Addition:", result_addition)


result_subtraction = 7 - 2 |
print("Subtraction:", result_subtraction)


result_multiplication = 4 * 6 |
print("Multiplication:", result_multiplication)


result_division = 10 / 2 |
print("Division:", result_division)


result_exponentiation = 2 ** 3 |
print("Exponentiation:", result_exponentiation)

In [6]:
#This a simple arithmetic expression to mutiply then add integers

In [4]:
a = 3
b = 4
c = 5
result = (a*b)+c
print(result)

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

In [5]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

<h2>Author</h2>
Krisztián Huszár